body {
  background:  #ffffff;
}

hr {
  border-color: #FF9A44;
  width: 90%;
}

.me {
  color: #727272;
  font-size: 18px;
  letter-spacing: 1px;
  width: 20%;
  margin-top: 3%;
}

.navbar  {
  justify-content: flex-end;
  margin-top: 10px;
  p {
    margin-right: 30px;
    letter-spacing: 0.5em;
  }
}

.name {
  position: absolute;
  left: 168px;
  font-size: 66px;
  top: 8px;
  width: 350px;
  font-family: lora;
  letter-spacing: 0.1em;
  color: #2c2c2c;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
}

.banner {
  img {
    width: 1028px;
    margin: 35px auto;
    display: block;
  }
}

.job {
  font-size: 22px;
  position: absolute;
  left: 173px;
  top: 150px;
  font-weight: bold;
  color: #FF9A44;
  letter-spacing: 0.3em;

}

.small-title {
  font-size: 16px;
  color: #a3a3a3;
  font-weight: bold;
  font-family: Source Sans Pro;
  letter-spacing: 0.1em;
}

.big-title {
  letter-spacing: 0.1em;
  font-size: 26px;
  color: #FF9A44;
  font-family: lora;
  font-weight: bold;
  margin-bottom: 40px;
}

.titles {
  margin-left: 5%;
}

.project {
  display: flex;
  margin: 100px 5%;
  img {
    height: 380px;
    box-shadow: 1px 1px 15px lightgrey;
  }
}

.description {
  width: 30%;
  margin-left: 7%;
  p {
    color: #727272;
    font-size: 18px;
    letter-spacing: 1px;
  }
}



#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.contact{
  background-color:#FF9A44;
  height: 500px;
}

.form-title {
  color:white;
  text-align: center;
}

.form-sm-title {
  color:white;
  text-align: center;
}
