<div class="navbar flex">
  <p>PROJECTS</p>
  <p>ABOUT</p>
  <p>CONTACT</p>
</div>

<div class="banner">

   <h3 class="job">
    <span id="banner-typed-text"></span>
  </h3>
  <h1 class="name">JESSICA SCIANIMANICA</h1>
  <%= image_tag "jesscover.jpg" %>
  <a href="#intro" data-scroll>Hire me</a>

</div>

<hr>

<div class="titles">
  <h3 class="small-title">PROJECTS</h3>
  <h2 class="big-title">DISCOVER MY LATEST PROJECTS</h2>
</div>

<div class="project">
  <%= image_tag "project-pixel.jpg" %>

  <div class="description">
    <h3 class="small-title">CLIENT</h3>
    <h2 class="big-title">PIXEL & BECHAMEL</h2>
    <p>A food photography website with a admin interface and the possibility to add pictures, videos, articles directly through the platform.</p>
  </div>
<div id="intro">Introduction</div>

</div>


<hr>

<div class="titles">
  <h3 class="small-title">ABOUT ME</h3>
  <p class="me">My name is Jessica.
  I’ve graduated from Le Wagon Coding School in September 2017 and I’ve been working as a full-stack developer since then.</p>
</div>


<div id="container">
</div>

<div class="contact">
  <h2 class="form-title">A project in mind?</h2>
  <h3 class="form-sm-title">LET'S HAVE A CHAT</h3>
  <form action="https://formspree.io/your@email.com"
        method="POST">
      <input type="text" name="name">
      <input type="email" name="_replyto">
      <input type="submit" value="Send">
  </form>

</div>





<!-- <script>
  // progressbar.js@1.0.0 version is used
// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/
var ProgressBar = require('progressbar.js')

var bar = new ProgressBar.Circle(container, {
  color: '#aaa',
  // This has to be the same size as the maximum width to
  // prevent clipping
  strokeWidth: 4,
  trailWidth: 1,
  easing: 'easeInOut',
  duration: 1400,
  text: {
    autoStyleContainer: false
  },
  from: { color: '#aaa', width: 1 },
  to: { color: '#333', width: 4 },
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
    circle.path.setAttribute('stroke-width', state.width);

    var value = Math.round(circle.value() * 100);
    if (value === 0) {
      circle.setText('');
    } else {
      circle.setText(value);
    }

  }
});
bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
bar.text.style.fontSize = '2rem';

bar.animate(1.0);  // Number from 0.0 to 1.0
</script>
 -->
